
/* Your CSS Code here. */
.heading{
margin-left:180px;
}
.nav-section{
	background-color:aqua;
	display:flex;
	justify-content:space-between;
}
.list{
	list-style-type:none;
}
.video{
	margin-left:40px;
	height:300px;
	width:500px;
}